            <section id="attachCast">
                <div class="attachCastSection">
                <h1>Attach New Cast</h1>
                <div class="attach-form">
                    <h2>{{movie.title}}</h2>
                    <img class="movie" src="{{movie.imageUrl}}">
                    <form method="POST">
                        <label for="cast">Cast</label>
                        <select id="cast" name="cast">
                        <option>-------</option>
                        {{#each casts}}
                            <option value="{{this.id}}">{{this.name}}</option>
                        {{else}}
                        <div class="no-posts">
                            <option>There are no cast yet...</option>
                        </div>
                        {{/each}}
                        </select>
                        <div id="center-btn">
                            <button id="create-btn">Add Cast</button>
                        </div>
                    </form>
                </div>
            </div>
            </section>